fastapi
uvicorn
python-multipart
python-dotenv
groq
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
faiss-cpu
reportlab
ffmpeg-python
langchain-groq
langchain-huggingface
sentence-transformers
